.service {
  min-height: 100vh;
  padding: 50px 10%;
}

.serviceGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.serviceGrid .card {
  background-color: var(--backgound-blue);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(200px 250px);
  border-radius: 10px;
}

.serviceGrid .card .image {
  height: 250px;
  overflow: hidden;
}

.serviceGrid .card .image img {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.serviceGrid .card .image img:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.serviceGrid .card .content {
  padding: 25px;
  color: var(--text-white);
}

.serviceGrid .card .content span {
  text-align: end;
  display: inline-block;
  width: 100%;
  color: var(--text-lemon);
}

.read_more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.read_more p {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15em;
  margin-top: 40px;
  color: #4CB952;
}

.read_more span {
  display: inline-block;
  color: #4CB952;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}
