.home {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(../../../assets/images/Rectangle\ 40.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  /* background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.2)); */
  background: radial-gradient(77.19% 288.38% at 77.19% 45.23%, rgba(19, 13, 37, 0.41) 5.02%, rgba(19, 13, 37, 0.88) 33.62%, #130D25 69.39%, #130D25 100%);
  background-blend-mode: darken;
  height: 100%;
  width: 100%;
}

.left {
  position: absolute;
  color: white;
  top: 50%;
  left: 10%;
  width: calc(50% - 10%);
  transform: translateY(-50%);
  z-index: 5;
}

.left h1 {
  line-height: 1.5;
  font-size: 3rem;
  /* margin-bottom: 15px; */
}

.left p {
  line-height: 2;
  /* margin-bottom: 15px; */
}

.left p:last-child {
  color: var(--button-green);
  font-size: 40px;
}
