.blog {
  padding: 50px 10%;
  min-height: 100vh;
}


.blog_header_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_header_center h3 {
  color: var(--text-header-blue);
}

.blog_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 350px;
  gap: 25px;
  margin-bottom: 25px;
  overflow: hidden;
}

.blog_content {
  padding: 15px 0;
}

.blog_content span {
  color: var(--text-light-grey);
  font-size: 12px;
}

.blog_content h3 {
  color: var(--text-header-blue);
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
}

.blog_content p {
  line-height: 1.6;
}

.blog_content a {
  display: inline-block;
  color: var(--button-green);
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  text-decoration: underline;
}

.read_more {
  display: flex;
  align-items: center;
}

.read_more p {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15em;
  margin-top: 40px;
  color: #4CB952;
}

.read_more span {
  display: inline-block;
  color: #4CB952;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}


@media(max-width: 1100px) {
  .blog_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 760px) {
  .blog {
    padding: 50px 10px;
  }
  .blog_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 560px) {
  .blog_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}