.sectionHeader {
  display: grid;
  grid-template-columns: 20% 80%;
  align-content: flex-start;
  align-items: flex-start;
}

.sectionHeader p{
  line-height: 2;
}

.sectionHeaderAboutUs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sectionHeaderAboutUs h3{
  margin: 0;
  color: var(--text-header-blue);
}

.sectionHeaderLine {
  height: 5px;
  width: 40px;
  background: var(--text-header-blue);
  margin-right: 20px;
}

.sectionHeader p {
  margin: 0;
}


@media(max-width: 1100px) {
  .our_partner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 760px) {
  .sectionHeader {
    grid-template-columns: 1fr;
  }

  .partner_profile {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 560px) {
  .our_partner {
    grid-template-columns: repeat(1, 1fr);
  }
}